<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407510579917-qv342mhcaf7u76q8n7r8ten7kjgnmesp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407510579917-qv342mhcaf7u76q8n7r8ten7kjgnmesp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>407510579917-j04q5bsmkhc1u7faa3i0ilpft3jtjmc5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ1LQWdV-it5WHGinzKnZYpJ16grlL5P4</string>
	<key>GCM_SENDER_ID</key>
	<string>407510579917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ideadigital.bacheamiciudad</string>
	<key>PROJECT_ID</key>
	<string>bct-mx--dev</string>
	<key>STORAGE_BUCKET</key>
	<string>bct-mx--dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407510579917:ios:723b501706630bb68c8784</string>
</dict>
</plist>